.homepage-collections-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    gap: 30px;
}
.homepage-collections-item {
    width: 100%;
    max-width: 400px;
    min-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    margin: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}
.homepage-collections-box-heading-image {
    max-width: 250px;
    margin-bottom: 50px;
}
.homepage-collections-item-overlay-image--fade-in {
    opacity: 1;
    transform: translateY(0);
}
.homepage-collections-item-overlay-image {
    width: 100%;
    max-width: 260px;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
    z-index: 2;
}
@media screen and (max-width: 749px) {
  .homepage-collections .title-wrapper-with-link {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 750px) and (max-width: 989px) {
  .homepage-collections__title {
    padding-left: 5rem;
    padding-right: 5rem;
  }
}